# =========================
# DATABASE
# =========================
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_db

# USED BY BACKEND
DATABASE_URL=postgresql://app_user:app_password@postgres:5432/app_db

# =========================
# BACKEND
# =========================
# FastAPI secret (JWT / auth)
SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
SEED_DATA=true

ENV=production

# =========================
# FRONTEND (Next.js)
# =========================
# used in docker (reversed proxy)
NEXT_PUBLIC_API_URL=/api

# =========================
# CORS (opcjonalnie)
# =========================
# ALLOW THIS URL FOR CORS
CLIENT_URL=*