leadcrm.kodario.com, www.leadcrm.kodario.com {

    handle /api/* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto https
        }
    }

    handle {
        reverse_proxy frontend:3000
    }
}